{% extends 'storage/base.html' %}
{% load bootstrap %}
{% load storage_extras %}

{% block title %}Add trash{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <form class="form-group" method="post" action="{% url_add_trash %}">
                {% csrf_token %}
                {{ form|bootstrap_horizontal }}
                <div class="col-lg-10 col-lg-offset-2 text-right">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}