{% extends 'base.html'%}
{% load storage_extras %}

{% block menu %}
    <div class="text-nowrap">
        <ul class="nav navbar-left">
            <li>
                <a href="{% url_view_storages %}"><div class="glyphicon glyphicon-cloud">&nbsp;</div>Storages...</a>
            </li>
            <li>
                <a href="{% url_view_trashes %}"><div class="glyphicon glyphicon-trash">&nbsp;</div>Trashes...</a>
            </li>
            <li>
                <a href="{% url_view_tasks %}"><div class="glyphicon glyphicon-tasks">&nbsp;</div>Tasks...</a>
            </li>
        </ul>
    </div>
{% endblock menu %}