{% extends 'storage/base.html' %}

{% load storage_extras %}
{% load bootstrap %}

{% block title %}Storage settings{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <form class="form-group" method="post" action="">
                {% csrf_token %}
                {{ form|bootstrap_horizontal }}
                <div class="col-lg-10 col-lg-offset-2 text-right">
                    <a class="btn btn-danger btn-sm" href="{% url_remove_storage storage %}">Delete</a>
                    <button class="btn btn-primary" type="submit" formaction="{% url_storage_save_settings storage %}">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}