{% extends 'storage/base.html' %}
{% load storage_extras %}

{% block content %}
    <table class="table table-plane table-hover">
        <thead>
            <tr>
                <th>Task id:</th>
                <th>Trash:</th>
                <th>Type:</th>
                <th>Status:</th>
                <th>Time start:</th>
            </tr>
        </thead>
        {% for task in tasks %}
            <tr>
                <td><a href="{% url_view_task task %}">{{ task.app_id }}</a></td>
                <td><a href="{% url_view_trash task.trash %}">{{ task.trash.name }}</a></td>
                <td>{{ task.type }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.datetime_start }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}