{% extends 'storage/base.html' %}
{% load storage_extras %}

{% block title %}User storage{% endblock title %}

{% block content %}
    {# storages #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                {% if storages.count == 0 %}
                    <div>No storages...</div>
                {% else %}
                    <table class="table table-panel table-hover">
                        <colgroup>
                            <col>
                            <col width="99%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Settings:</th>
                                <th>Name:</th>
                                <th>Path:</th>
                            </tr>
                        </thead>

                        {% for storage in storages %}
                            <tr>
                                <td class="text-center">
                                    <a href="{% url_storage_settings storage %}"><div class="glyphicon glyphicon-cog"></div></a>
                                </td>
                                <td><a href="{% url_view_storage storage%}">{{ storage.name }}</a></td>
                                <td>{{ storage.path }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-primary" href="{% url_add_storage %}"><div class="glyphicon glyphicon-plus">&nbsp;</div>Add storage</a>
            </div>
        </div>
    </div>

{% endblock content %}