{% extends 'storage/base.html' %}
{% load storage_extras %}


{% block title %}View trash{% endblock title %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <div>
        <a href="{% url_view_trash trash %}">TRASH</a>
        {% get_trash_dir_tree trash current_path as dir_tree %}
        {% for file_info in dir_tree %}
            <div class="glyphicon glyphicon-menu-right"></div>
            <a href="{% url_view_trash trash file_info.path %}">{{ file_info.name }}</a>
        {% endfor %}
    </div>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="trash_id" value="{{ trash.id }}">
        <input type="hidden" name="next" value="{% url_view_trash trash current_path %}">
        <input type="hidden" name="relative_path" value="{{ current_path|path_encode }}"/>

        <table class="table table-panel table-hover text-center">
            <colgroup>
                <col>
                <col>
                <col width="99%">
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>Check:</th>
                    <th>Type:</th>
                    <th>Name:</th>
                    <th>Restore path:</th>
                    <th>Size:</th>
                    <th>Date:</th>
                </tr>
            </thead>
            {% if current_path %}
            <tr>
                <td></td>
                <td></td>
                <td class="text-left">
                    <a href="{% url_view_trash trash current_path|path_dirname %}">../</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}
            {% for file_info in files|dictsort:"name" %}
                <tr>
                    <td class="text-nowrap">
                        <input type="checkbox" name="paths[]" value="{{ file_info.path|path_encode }}">
                    </td>
                    <td class="text-nowrap">
                        {% if file_info.type == 'directory' %}
                            <div class="glyphicon glyphicon-folder-open"></div>
                        {% elif file_info.type == 'file' %}
                            <div class="glyphicon glyphicon-file"></div>
                        {% elif file_info.type == 'link' %}
                            <div class="glyphicon glyphicon-link"></div>
                        {% else %}
                            <div class="glyphicon glyphicon-question-sign"></div>
                        {% endif %}
                    </td>
                    <td class="text-left">
                        {% if file_info.type == 'directory' %}
                            <a href="{% url_view_trash trash file_info.path %}">{{ file_info.name }}</a>
                        {% else %}
                            {{ file_info.name }}
                        {% endif %}
                    </td>
                    <td class="text-left">
                        {{ file_info.restore_path }}
                    </td>
                    <td class="text-nowrap">
                        {% if file_info.type != 'directory' %}
                            {{ file_info.size }}
                        {% endif %}
                    </td>
                    <td class="text-nowrap">
                        {{ file_info.accessed_time|time_to_date|date:"M d, Y" }}
                    </td>
                </tr>
            {% endfor %}
        </table>


        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="row">
                        <label class="col-lg-4 text-nowrap">Regex filter: </label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" name="regex_filter">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-4 text-nowrap">Prompt mode:</label>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="radio" name="action_mode" value="skip">
                                    <label>Skip</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="radio" name="action_mode" value="force">
                                    <label>Force</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="radio" name="action_mode" value="fail" checked>
                                    <label>Fail</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 text-nowrap"></div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="checkbox" name="dry_run" value="true"/>
                                    <label>Preview</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 text-nowrap"></div>
                        <div class="col-lg-8">
                            <div class="row">

                                <div class="col-sm-12 text-right">
                                    <input class="btn btn-danger btn-sm" type="submit" formaction="{% url_task_remove %}" value="Remove!"/>
                                    <input class="btn btn-primary btn-lg" type="submit" formaction="{% url_task_restore %}" value="Restore!"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}