{% extends 'storage/base.html' %}
{% load storage_extras %}
{% load bootstrap %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                {% if trashes.count == 0 %}
                    <div>No trashes...</div>
                {% else %}
                    <table class="table table-panel table-hover">
                        <colgroup>
                            <col>
                            <col width="99%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Settings:</th>
                                <th>Name:</th>
                                <th>Path:</th>
                            </tr>
                        </thead>

                        {% for trash in trashes %}
                            <tr>
                                <td class="text-center">
                                    <a href="{% url_trash_settings trash %}"><div class="glyphicon glyphicon-cog"></div></a>
                                </td>
                                <td><a href="{% url_view_trash trash%}">{{ trash.name }}</a></td>
                                <td>{{ trash.path }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-primary" href="{% url_add_trash %}"><div class="glyphicon glyphicon-plus">&nbsp;</div>Add trash</a>
            </div>
        </div>
    </div>

{% endblock content %}