{% extends 'storage/base.html' %}
{% load storage_extras %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-4">App id:</div>
                <div class="col-lg-8">{{ task_info.app_id }}</div>
            </div>
            <div class="row">
                <div class="col-lg-4">Type:</div>
                <div class="col-lg-8">{{ task_info.type }}</div>
            </div>
            <div class="row">
                <div class="col-lg-4">Trash:</div>
                <div class="col-lg-8"><a href="{% url_view_trash task_info.trash %}">{{ task_info.trash.name }}</a></div>
            </div>
            <div class="row">
                <div class="col-lg-4">Start time:</div>
                <div class="col-lg-8">{{ task_info.datetime_start }}</div>
            </div>
            {% if task_info.src %}
            <div class="row">
                <div class="col-lg-4">Status:</div>
                <div class="col-lg-8">{{ task_info.src }}</div>
            </div>
            {% endif %}
            {% if task_info.dst %}
            <div class="row">
                <div class="col-lg-4">Status:</div>
                <div class="col-lg-8">{{ task_info.dst }}</div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-4">Status:</div>
                <div class="col-lg-8">{{ task_info.status }}</div>
            </div>
            <div class="row">
                <div class="col-lg-4">Reason:</div>
                <div class="col-lg-8">{{ task_info.result }}</div>
            </div>
            <div class="row">
                <div class="col-lg-4">Traceback:</div>
                <div class="col-lg-8"><pre>{{ task_info.traceback }}</pre></div>
            </div>
        </div>
    </div>
{% endblock content %}