{% load staticfiles %}
{% load storage_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home page{% endblock title %} - SmartRM</title>

    <script src="{% static 'main/jquery-3.2.1/jquery.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'main/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}" />
    <script src="{% static 'main/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'main/core/css/style.css' %}"/>

    {% block extra_head %} {% endblock extra_head %}
</head>
<body background="{% static 'main/img/background.jpg' %}">
    <div class="container-fluid">
        {% include 'navigation.html' %}

        <div class="jumbotron">
            {% block body %}
            <div class="container-fluid">
                <div class="col-md-1">
                    {% block menu %}
                    {% endblock menu %}
                </div>
                <div class="col-md-11">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
            {% endblock body %}
        </div>
    </div>
</body>
</html>
