{% load storage_extras %}

<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
    <a class="navbar-brand" href="/">SmartRM</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="navbar-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li class="nav-item">
                <a class="navbar-link" href="{% url_view_storages %}">WebRM <small>beta</small></a>
            </li>
            <li class="nav-item">
                <a class="navbar-link" href="{% url 'about' %}">About</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="navbar-link" href="{% url_view_storages %}">Hello, <b>{{ user.username }}</b></a>
                </li>
                <li class="nav-item">
                    <a class="navbar-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="navbar-link" href="{% url 'account_login' %}">Login</a></li>
                <li class="nav-item">
                    <a class="navbar-link" href="{% url 'account_signup' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>