{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <h3>Smart rm: advanced remove utility for Linux</h3>
            <a href="{% url 'storages:view_storages' %}" class="btn btn-primary btn-lg">Try it!</a>
        </div>
    </div>
{% endblock %}